body {
  border: none;
  margin: 0px;
  padding: 0px;
  background-color: rgb(240, 240, 246);
  color: rgb(118, 118, 118);
  transition: all 300ms ease-in 0s;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: 15px;
  letter-spacing: -0.015em;
  text-align: left;
  scroll-behavior: smooth;
}
.grid-container {

    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
    "lg lg mg mg rg"
    "lg lg mg mg rg"
    "lg lg mg mg rg"
    "lg lg ft ft rg";
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: center;
    
    background-color: whitesmoke;
  
  }
  .grid-container > * {
    
      height: 100%;
  
  }
  .left_grid {
    position: fixed; 
    display: table-cell;
    z-index: 9999;
    transition: all 300ms ease-in 0s;
    grid-area: lg;
    width: 10%;
    margin-left: 10%;
    box-shadow: rgb(47 122 249 / 10%) 4px 0px 10px;
    background: rgb(255, 255, 255);
  } 
  .right_grid {
    position: fixed;
    grid-area: rg;
    width: 10%;
    margin-left: 80%;
    background: rgb(255, 255, 255);
  } 

  main{
     justify-self: center; /* justify the main grid it self on center*/
     grid-area: mg;
     
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top: 0%;
     width: 80%;
      
  }
  ul {
    list-style: none;
  }
  /**************************************************************************************************/
  /* Style for main section*/
.welcom_panel {
      display: flex;
      flex-direction: row ;
      flex-wrap: wrap;
      justify-content: space-evenly;
      background: rgb(255, 255, 255);
      color:black ;
      box-shadow: black;
      box-shadow: rgb(47 122 249 / 10%) 4px 0px 10px;
  
  }
.welcom_text {
   
  
    margin: 5px;
    /*flex-grow: 0; /* change the size of the box inside the flex section in the direction*/
 
    margin-top: 0%;
    width: 50%;
    text-align: left;
    margin-left: 0%;   
}
.welcom_text_detail {
    align-items: center;
    
    text-align: left;
    width: 100%;
    
}
.welcom_svg {
    margin: 5px;

    background-color: wheat;
}
.service_panel > ul  {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap; /*  to splite the row of the flex box items */
    align-content: center;  /* to align items verticaly*/
    justify-content: space-evenly; /* to align items hotizontaly*/
    margin-bottom: 10%;
    margin-top: 10%;
    background-color: tomato;
    
    
}
.service_panel > ul > li {
    border: solid;
    padding: 2%;
    margin: 5%;
   

}
/**************************************************************************************************/
  footer{
      position: relative;
      display: flex;
      min-height: 70px;
      margin-bottom: 0px;
      grid-area: ft;
      height: 100%;
      width: 100%;
      margin-left: 0%;
      box-shadow: rgb(0 0 0 / 100%) -1px -1px 10px;
  }